table {
  width: 90%;
  margin: auto;
}
/* tr td:nth-of-type(2) : tr 태그의 바로 하위 태그인 td 태그 중 2번째에 css 적용 */
tr td:nth-of-type(2) {
  width: 90%;
}
input{
  padding: 5px 10px;
  font-family: 'GangwonEdu_OTFBoldA';
  font-size: 16px;
}
/* input[type=text] : input 태그 중 type 속성명의 속성값이 text인 태그에 css 적용 */
input[type=text] {
  width: 100%;
  height: 20px;
  border: 1px solid;
  border-radius: 5px;
}
textarea {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 5px;
  /* font-family : 폰트 종류 */
  font-family: 'GangwonEdu_OTFBoldA';
  font-size: 16px;
}
.right {
  padding-top: 20px;
  /* text-align : 텍스트의 정렬 방향 */
  text-align: right;
}
.button {
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 10px;
  background-color: Khaki;
  color: SaddleBrown;
  text-decoration: none;
  /* cursor : 커서 모양 변경 */
  cursor: pointer;
}
