{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/page/posting_form.css' %}">
{% endblock %}

{% block body %}
  <h1>{{posting_type}}</h1>

  <div class="posting-form">
    <form action="" method="post">
      {% csrf_token %}
      <!-- [코드 작성] Django에서 생성된 posting_form을 p태그 안쪽에 배치  -->
      
  
      <div class="posting-form__function--bottom">
        <!-- 글을 수정하기 위해 posting 객체가 같이 전달된 경우에는 취소 버튼 보여주기 -->
        {% if posting %}
          <a class="button" href="{% url 'page:posting_detail' posting.id %}">취소</a>
        {% endif %}
        <input class="button" type="submit" value="등록">
      </div>
    </form>
  </div>
{% endblock %}